torch==2.5.1
torch-geometric==2.6.1
torch_scatter==2.1.2+pt25cu124
torch_sparse==0.6.18+pt25cu124
torchaudio==2.5.1
torchvision==0.20.1
-f https://data.pyg.org/whl/torch-2.5.1+cu124.html
-f https://download.pytorch.org/whl/torch_stable.html
pyyaml
texttable
tensorflow
tsplib95
cython